body {
    background-image: url("http://wallpaper-gallery.net/images/pattern-wallpapers/pattern-wallpapers-11.jpg");
}

.floor {
    width: 100%;
    height: 80px;
    background-color: rgb(236, 227, 195);
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.couch {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 71px;
}

.clock {
    border: solid;
    border-width: 7px;
    border-color: #890620;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin: 100px auto;
    position: relative;
    background-color: #EBD4CB;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    background-color: #DA9F93;
    width: 50%;
    height: 5px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: 0.05s;
}

.second-hand {
    width: 50%;
    background-color: rgb(6, 2, 3);
    height: 2px;
    transition-timing-function: cubic-bezier(01, 2.7, 0.58, 1.71);
}

.hour-hand {
    width: 30%;
    position: relative;
    left: 15px;
}

.painting {
    height: 20%;
    width: 20%;
    position: absolute;
    top: 200px;
    left: 70px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.controls {
    position: absolute;
    right: 740px;
    top: 200px;
    color: white;
    font-family: 'Dosis', sans-serif;
}


:root {
  --base: rgb(109, 109, 189);
  --spacing: 10px;
  --blur: 0px;
}

.jukebox {
  position: absolute;
  left: 800px;
  bottom: 73px;
  width: 20%;
  height: 30%;

}

#menu {
  display: none;
  width: 400px;
  height: 450px;
  background-color: rgb(244, 238, 217);
  position: relative;
  bottom: 250px;
  left: 400px;
  border-radius: 10px;
}

#title {
  font-family: 'Kumar One', cursive;
  font-size: 32px;

}

.songs {
  font-family: 'Dosis', sans-serif;
}
