body {
    background-color: #2C0703;
}

.clock {
    border: solid;
    border-width: 10px;
    border-color: #890620;
    border-radius: 100%;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: #EBD4CB;
}

.hand {
    background-color: #DA9F93;
    height: 10px;
    margin: auto;
}

.hour-hand {
  width: 80px;
  position: absolute;
  top: 200px;
  margin-left: 120px;

}

.min-hand {
  width: 200px;
  position: absolute;
  top: 200px;
}

.second-hand {
  width: 200px;
  height: 5px;
  background-color: rgb(6, 2, 6);
  position: absolute;
  top: 200px;
}
